<%- include('header') %>

<h2>Dashboard </h2>


<div class="row">
  <% charCat.forEach(function(char){ %>

  <div class="col-md-4">
    <div class="card text-white bg-primary" style="max-width: 18rem; margin-top: 50px; ">
      <div class="card-header"><%= char.type %></div>
      <div class="card-body">
           
          <p class="card-text" style="text-align: center; font-size: 20px;">
          donated: <%= char.count %>$
                </p>
      </div>
    </div>
  </div>
  <% }) %>
  <!-- <div class="col-md-4">
    <div class="card text-white bg-primary" style="max-width: 18rem; ">
      <div class="card-header">Charaity given</div>
      <div class="card-body">
           
          <p class="card-text" style="text-align: center; font-size: 20px;">
                  21000$
                </p>
      </div>
    </div>


  </div>
  <div class="col-md-4">
    <div class="card text-white bg-primary" style="max-width: 18rem; ">
      <div class="card-header">Mosque build</div>
      <div class="card-body">
           
          <p class="card-text" style="text-align: center; font-size: 20px;">
              15
                </p>
      </div>
    </div>
  </div> -->

</div>





<%- include('footer') %> 