<%- include('header') %>
<div class="ibox float-e-margins">
    <div class="ibox-content text-center p-md">
            <h1 >
                Organizations
            </h1>
    </div>


    <div class="container py-5 h-100">



        
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-12 col-lg-9 col-xl-12">
            <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
              <div class="card-body p-4 p-md-5">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
                <form id="register_form" method="POST" action="/orginazation" enctype="multipart/form-data">

                    <div class="row">
                        <div class="col-md-12 mb-12" style="margin-top: 15px;">
      
                            <div class="form-outline">
                              <label class="form-label" for="titles">Organizations Name</label>
                              <input type="text" id="Organizations_name" name="Organizations_name" class="form-control form-control-lg" />
                            </div>
                        </div>

                    <div class="form-group">
                      <label for="Descriptionss">Description</label>
                      <textarea class="form-control" id="Descriptionss" name="Descriptionss" rows="3"></textarea>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-4" style="margin-top: 15px;">
        
                          <div class="form-outline">
                            <input class="form-control txt_err rooms" type="text" id="owner_name" name="owner_name" required>
                            <label class="form-label" for="firstName">Owner name</label>
                          </div>
        
                        </div>
                        <div class="col-md-6 mb-4"style="margin-top: 15px;">
        
                          <div class="form-outline">
                            <input class="form-control txt_err rooms" onkeypress="return isNumberKey(event)" type="text" id="phone_number" name="phone_number" required>
                            <label class="form-label" for="lastName">phone number</label>
                          </div>
        
                        </div>
                      </div>
                


                  <div class="row">
                    <div class="col-md-6 mb-4" style="margin-top: 15px;">
    
                      <div class="form-outline">
                        <input class="form-control txt_err rooms"  type="text" id="contact" name="contact" required>
                        <label class="form-label" for="firstName">contact</label>
                      </div>
    
                    </div>
                    <div class="col-md-6 mb-4"style="margin-top: 15px;">
    
                      <div class="form-outline">
                        <input class="form-control txt_err rooms" type="text" id="address" name="address" required>
                        <label class="form-label" for="lastName">Address</label>
                      </div>
    
                    </div>
                  </div>
    
                  <div class="row">

                    <div class="col-md-6 mb-4">
    
                      <select class="select form-control-lg need_type " name="status" id="status" style="width: 350px;">
                        <option value="">status</option>
                          <option value="active">active</option>
                          <option value="Suspend">Suspend</option>
                        </select>
                        <label class="form-label select-label" style="margin-left: 15px;">Status</label>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-sm-12 col-md-2">
                        <div class="form-group hand_1">
                            <label for="floor" class="label">Organizations images</label>
                            <div class="dropzone hand_1">
                                <img src="/images/zupld.png" class="upload-icon hand_1" />
                                <input id="files" class="fileupload_1 upload-input" type="file" name="floor" multiple accept=".pdf,.doc,.docx,.jpg,.png" >
                            </div>
                            <label class="lbl_err property_img">property image is require</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-10">
                        <label for="images_1" class="label">uploaded images</label>
                        <div class="dropzone mdf w-100">
                            <div id="uploaded_images_1" class="row"> </div>
                        </div>
                    </div>
                 </div>
    



                  
    
            
    
                  <div class="mt-4 pt-2">
                    <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
                  </div>
    
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
</div>

<%- include('footer') %>

<script>
function isNumberKey(evt) {
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57))
        return false;
    return true;
}






</script>