
		
		
			<nav id="sidebar">
				<div class="p-4 pt-5">
		  		<a href="#" class="img logo rounded-circle mb-5" style="background-image: url(../images/dambiil.jpg);"></a>
	        <ul class="list-unstyled components mb-5">
                <% if(user_typpe === "admin") { %>

                    <li>
                        <a href="/dashboard">Dashboard</a>
                    </li>
                  <li>
                      <a href="/catagories">Catagorys</a>
                  </li>
                  <li>
      
                  </li>
                  <li>
                  <a href="/chartiy_registration">charity Registration</a>
                  </li>
                  <li>
                    <a href="/organization">Organizations</a>
                    </li>
                    <li>
                        <a href="/Org_users">Organization Users</a>
                        </li>
                    <li>
                        <a href="/ViewCharity">View charity</a>
                        </li>
                        <li>
                            <a href="/AddReports">Add Reports</a>
                            </li>
                            <li>
                                <a href="/ViewReports">View Reports</a>
                                </li>


                    <% } else { %>

                        <li>
                            <a href="/org_home_page">Home</a>
                            </li>
                            <li>
                                <a href="/org_chariy">Charity</a>
                                </li>
                                <li>
                                    <a href="/org_report">Report</a>
                                    </li>
                  <li>
                        <% } %>

	        </ul>

	      

	      </div>
    	</nav>

        <!-- Page Content  -->

	
