
		
		
			<nav id="sidebar">
				<div class="p-4 pt-5">
		  		<a href="#" class="img logo rounded-circle mb-5" style="background-image: url(../images/dambiil.jpg);"></a>
	        <ul class="list-unstyled components mb-5">
                <li>
                    <a href="/dashboard">Dashboard</a>
                </li>
	          <li>
	              <a href="/catagories">Catagorys</a>
	          </li>
	          <li>
              <!-- <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Registration</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="/register">Students</a>
                </li>
                <li>
                    <a href="/class">Class </a>
                </li>
                <li>
                    <a href="/subjets">Subjets </a>
                </li>
                <li>
                    <a href="/teachers">Teachers </a>
                </li>
              </ul> -->
	          </li>
	          <li>
              <a href="/chartiy_registration">charity Registration</a>
	          </li>
              <li>
                <a href="/organization">Organizations</a>
                </li>
                <li>
                    <a href="/ViewCharity">View charity</a>
                    </li>
                    <li>
                        <a href="/AddReports">Add Reports</a>
                        </li>
	          <li>
              <a href="#">settings</a>
	          </li>
	        </ul>

	      

	      </div>
    	</nav>

        <!-- Page Content  -->

	
